/*

	Media

*/


@media screen and (max-width: 1970px) {
 	
 	.header {

 		&-logo {
 			left: 8vw;
 		}

 		&-menu {
 			left: 26vw;
 		}

 		&-cart {
 			left: 67vw;
 		}

 		&-btn {
 			left: 73vw;
 		}
 	}

 	.main {

		.slider {

			.dish {

				img {
					right: -100px;
				}

				.teast {
					left: 20vw;
				}

				.from {
					left: 20vw;
				}
				
				.expMenu {
					left: 20vw;
				}
			}
		}
 		.aboutUs {

			&-title {
				left: 20vw;
			}

			&-subtitle {
				left: 20vw;
			}

			.readMore {
				left: 20vw;
			}

 			&-img {
 				left: 60vw;	
 			}
 		}
 	}

 	.footer {

 		&-nav {
 			left: 8vw;
 		}

 		&-news {
 			left: 25vw;
 		}
		
		&-social {
			left: 25vw;
		}

		&-apps {
			left: 65vw;
		}

		&-copyright {

			.line-left {
				left: 20vw;
				width: 20%;
			}

			.copyright {
				left: 41vw;
			}

			.line-right {
				left: 62vw;
				width: 20%;
			}
		}
 	}
} 

@media screen and (max-width: 1440px) {

	html {
		font-size: 14px;
	}

	.header {


 		&-logo {
 			left: 4vw;
 		}

 		&-menu {
 			left: 29vw;

			*:not(:last-child){
				margin-right: 9px;
			}
 		}

 		&-cart {
 			left: 73vw;
 		}

 		&-btn {
 			left: 79vw;
 		}
 	}

	
	.main {

		.slider {

			height: 400px;

			.slider-bg {

				img {
					min-height: 400px;
					max-height: 400px;	
				}
			}
			
			.dish {

				img {
					right: -50px;
					height: 95%;
				}

				.teast {
					left: 11vw;
					top: 52px;
				}

				.from {
					left: 11vw;
					top: 73px;
				
				}
				
				.expMenu {
					left: 11vw;
					top: 200px;
				}
			}
		}

		section.callUs {
			
			.reviews {
				left: 20vw;
			}

			.callUs {
				left: calc(20vw + 250px);
			}
		}

 		.aboutUs {

			&-title {
				left: 5vw;
			}

			&-subtitle {
				left: 5vw;
				max-width: 415px;
			}

			.readMore {
				left: 5vw;
				top: 250px;
			}

 			&-img {
 				left: 46vw;	

 			}
 		}

 		.specialFoods {
 			height: 750px;
 		}

 		.foodMenu {

 			.title {
 				max-width: 100%;
 				margin: 0;
 				text-align: center;
 			}
			
			.menu {

				justify-content: space-around;

				&-item {
					width: 500px;
				}
			}
 		}


 		.openingHours {

 			.title {
 				left: 7vw;
 			}

 			.weekdays {
 				left: 39vw;
 				top: 0;
 				transform: translate(0,50%);
 				height: 65px;
 			}

 			.weekends {
 				left: 39vw;
 				top: 100%;
 				transform: translate(0,-150%);
 				height: 65px;
 			}
 		}

 		.cooks {
			
			

 			.chefs {
 				grid-template-rows: 298px;
				grid-template-columns: repeat(4, 200px);
				grid-row-gap: 20px;
				grid-column-gap: 30px;

				.chef {
					width: 200px;

					img {
						width: 100%;
					}
				}
 			}
 		}
	}

	article.blog {
		.article-texts {
			margin-top: -4.5rem;
		}
	}

	.footer {

 		&-nav {
 			left: 6vw;
 		}

 		&-news {
 			left: 23vw;
 		}
		
		&-social {
			left: 23vw;
		}

		&-apps {
			left: 72vw;
		}

		&-copyright {

			.line-left {
				margin-right: 5vw;
			}

			.copyright {
			}

			.line-right {
				margin-left: 5vw;
			}
		}
 	}
}

@media screen and (max-width: 1024px) {

	html {
		font-size: 12px;
	}

	.header {

 		&-logo {
 			left: 2vw;
 		}

 		&-menu {
 			left: 33vw;
			// display: flex;
			// flex-wrap: wrap;
			// width: 25%;
			// height: 100%;
			// flex-direction: column;
			// text-align: center;
			// justify-content: center;
			// text-align: center;

 		// 	* {
 		// 		margin: 0;
 		// 		width: 42px;
 		// 	}

 		// 	*:nth-child(3){
 		// 		width: 94px;
 		// 	}

 		// 	*:nth-child(4){
 		// 		width: 94px;
 		// 	}

 		// 	*:nth-child(5){
 		// 		width: 70px;
 		// 	}

 		// 	*:nth-child(6){
 		// 		width: 70px;
 		// 	}
 		}

 		&-btn {

			padding: 1px 3px 1px 3px;
			left: 94%;
			transform: translate(-100%,-50%);
			width: 18%;

			img {
				display: none;
			}

			div {

				span {
					left: 0;
					text-align: center;
				}

			}
		}

		&-cart {

			left: 68%;

			.cart-drop {
				left: 28px;
			}

		}
 	}

 	.main {

		.slider {

			height: 400px;

			.slider-bg {

				img {
					min-height: 400px;
					max-height: 400px;	
				}
			}
			
			.dish {

				img {
					//right: -1.5%;
					height: 70%;
					bottom: 10%;
				}

				.teast {
					left: 11vw;
					top: 52px;
				}

				.from {
					left: 11vw;
					top: 73px;
				
				}
				
				.expMenu {
					left: 11vw;
					top: 200px;
				}
			}
		}

		section.callUs {
			
			.reviews {
				left: 5vw;
			}

			.callUs {
				left: calc(5vw + 250px);
			}
		}

 		.aboutUs {

 			height: 860px;

			&-title {
				left: 0;
				max-width: 100%;
				text-align: center;
			}

			&-subtitle {
				left: 0;
				margin: 0 auto;
				max-width: 80%;
				text-align: center;
			}

			.readMore {
				left: 50%;
				transform: translate(-50%,0);
				top: 220px;
			}

 			&-img {
 				left: 50%;
 				transform: translate(-50%,0);	
				top: 460px;
 			}
 		}

 		.specialFoods {
 			height: 650px;
 		}

 		.foodMenu {
			
			.menu {

				justify-content: space-around;

				&-item {
					width: 500px;
				}
			}
 		}

 		.review {
			
			.title {

				top: 80px;
			}

			&-quote {
				top: 150px;
				width: 80%;
			}

			&-img {
				top: 260px;
			}

			&-name {
				top: 340px;
			}

			&-rate {
				top: 370px;
			}
 		}

 		.openingHours {

 			height: 350px;

 			.title {
 				left: 30vw;
 				top: 109px;
 				transform: translate(-50%,-50%);
 			}

 			.weekdays {
 				left: 30vw;
 				top: 100%;
 				transform: translate(-50%,-150%);
 				height: 65px;
 			}

 			.weekends {
 				left: 70vw;
 				top: 100%;
 				transform: translate(-50%,-150%);
 				height: 65px;
 				width: 178px;
 			}

 			.pepers {
 				right: 30vw;
 				top: -60px;
 				transform: translate(50%);
 			}
 		}

 		.cooks {

 			height: 1000px;

 			picture {
 				img {
 					height: 100%;
 				}
 			}
			
 			.chefs {
 				grid-template-rows: repeat(2,358px);
				grid-template-columns: repeat(2, 270px);
				grid-row-gap: 30px;
				grid-column-gap: 30px;

				.chef {
					width: 270px;

					img {
						width: 100%;
					}
				}
 			}
 		}
	}

	.footer {

 		&-nav {
 			left: 8vw;

 			*:nth-child(2) {
				margin-top: 30px;
			}

 			*:not(:first-child) {
 				margin-bottom: 6px;
 			}
 		}

 		&-news {
 			left: 25vw;
 		}
		
		&-social {
			left: 89.5vw;
			top: 152px;
			width: auto;

			* {
				display: block;
			}

			*:not(:last-child) {
				margin-bottom: 36px;
			}
		}

		&-apps {
			left: 25vw;
			top: 270px;
			width: 470px;

			.android {
				left: 100%;
				transform: translate(-100%);
				top: 59px;
			}
		}

		&-copyright {

			.line-left {
				margin-right: 2vw;
			}

			.copyright {
			}

			.line-right {
				margin-left: 2vw;
			}
		}
 	}

}

@media screen and (min-width: 769px) {
	
	.header {

		&-menu {

			a:hover {
				transition: color .25s;
				color: #fea100;
			}
		}

		&-btn {
			&::before {
				content: '';
				background-color: #fff;
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 3;
			}

			&:hover::before {
				transition: opacity .25s;
				opacity: 0.25;
			}
		}
	}

	.main {

		.slider {

			&:hover .left-arrow , &:hover .right-arrow{
				opacity: 1;
			}

			.expMenu:hover {	
					color: #000;
					background-color: #fff;
			}

			.slide-circle {

				.circle {
					&:hover {
						width: 16px;
						height: 16px;
						box-sizing: border-box;
						border-radius: 50%;
						border: 2px #fff solid;
						background-color: transparent;
						opacity: 1;
					

						&::after {
							content: '';
							background-color: #fff;
							width: 5px;
							height: 5px;
							position: absolute;
							top: 50%;
							left: 50%;
							border: none;
							transform: translate(-50%,-50%);
							border-radius: 50%;
						}
					}
				}
			}
		}

		.readMore {
			&::before {
				content: 'Read More';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				clip-path: circle(0% at 50% 100%);
				border-radius: 30px;
				background-image: linear-gradient(0deg,#FEB500,#fe9000);
				will-change: clip-path, background-image;
				
			}

			&:hover::before {
				transition: clip-path 1s;
				background-image: linear-gradient(0deg,#FEC000,#fe9000);
				clip-path: circle(100%);
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				transition: all 1s;
				transition-delay: .2s;	
				z-index: -1;
				border-radius: 30px;
				box-shadow: 0px 0px 0px #fe7f00;
			}

			&:hover::after {
				box-shadow: 0px 0px 10px #fe7f00;
				
				
			}
		}

		.foodMenu {
			.expMenu {
				&::before {
					content: 'Explore Full Menu';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					clip-path: circle(0% at 50% 100%);
					border-radius: 30px;
					background-image: linear-gradient(0deg,#FEB500,#fe9000);
					will-change: clip-path, background-image;
					
					
				}

				&:hover::before {
					transition: clip-path 1s;
					background-image: linear-gradient(0deg,#FEC000,#fe9000);
					clip-path: circle(100%);
				}

				&::after {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					transition: all 1s;
					transition-delay: .2s;	
					border-radius: 30px;
					box-shadow: 0px 0px 0px #fe7f00;
				}

				&:hover::after {
					box-shadow: 0px 0px 15px #fe7f00;
					
					
				}
			}
		}

		.review {
				&-animate-right {
					animation: review-right .5s;
				}

				&-animate-left {
					animation: review-left .5s;
				}

				&-active-right {
					animation: review-active-right 0.5s;
				}

				&-active-left {
					animation: review-active-left 0.5s;
				}
		}

		.blog {
			.readMore::after, .readMore::before {
				border-radius: 5px;
			}
		}
	}

	.footer {

		.form {

			button {
				&::before {
						content: 'SUBSCRIBE';
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						display: flex;
						align-items: center;
						justify-content: center;
						clip-path: circle(0% at 50% 100%);
						border-radius: 5px;
						will-change: clip-path, background-image;
						background-image: linear-gradient(0deg,#FEB500,#fe9000);
						
					}

					&:hover::before {
						transition: clip-path 1s;
						background-image: linear-gradient(0deg,#FEC000,#fe9000);
						clip-path: circle(100%);
					}

					&::after {
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						transition: all 1s;
						transition-delay: .2s;	
						z-index: 1;
						border-radius: 5px;
						box-shadow: 0px 0px 0px #fe7f00;
					}

					&:hover::after {
						box-shadow: 0px 0px 15px #fe7f00;	
					}
			}
		}
	}

}

@media screen and (max-width: 768px) {
	
	.header {

		&-logo {
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}


 		&-menu {
 			left: 50%;
 			transform: translate(-50%,0);
 			top: 20vh;
 			text-align: center;
 			display: block;

 			a {
 				display: block;
 				position: relative;
 				max-width: 200px;
	 			left: 50%;
	 			transform: translate(-50%,0);
 			}
 		}

 		&-cart {
 			left: 10%;
	 		transform: translate(0%,-50%);
	 		top: 43.5px;
 		}

 		&-btn {
 			left: 50%;
 			transform: translate(-50%,-50%);
 			top: 90vh;
 			width: 100%;
 			&:active div{
				background-color: #ff8900;
			}
 		}

		.header-mobile {

			input[type='checkbox'] {

				&:checked ~ .menu-container {

					left: 0;
					transform: translate(-1px);
					box-shadow: 0 0 0 384px rgba(2,2,2,0.5);
				}	

				&:checked ~ label .burger-menu {
					left: 40vw;
					transition: left 1s .5s;
				}
			}			

			
			.menu-container {
				height: calc(100vh + 1px);
				width: 50%;
				background-color: #fff;
				left: -100%;
				transform: translate(-100%);
				transition: transform 1s, box-shadow 1s, left 1s;
				transition-timing-function: ease-in-out;
				position: relative;
				z-index: 9;
				top: -15.5px;

			}
		}

		.burger-menu {
			
				display: block;
				position: relative;
				z-index: 10;
				width: 20px;
				transition: left 0.4s;
		}

	}

	.main {

		.left-arrow, .right-arrow {
			opacity: 1 !important;
		}

		.slider {

			height: 400px;

			.slider-bg {

				img {
					min-height: 400px;
					max-height: 400px;	
				}
			}
			
			.dish {

				img {
					right: 0%;
					height: 60%;
					bottom: 5%;
				}

				.teast {
					left: 11vw;
					top: -27px;
				}

				.from {
					left: 11vw;
					top: -7px;
				
				}
				
				.expMenu {
					left: 11vw;
					top: 121px;

					&:active {
						background-color: #ff8900;
					}
				}
			}
		}

		section.callUs {

			height: 161px;
			
			.reviews {
				top: 0;
				transform: translate(0,50%);
				left: 5vw;
			}

			.callUs {
				left: 5vw;
				top: 100%;
				transform: translate(0,-150%);
				width: 470px;

				#call-us {
					width: 470px;
				}
			}
		}

 		.aboutUs {

 			height: 860px;

			&-title {
				left: 0;
				max-width: 100%;
				text-align: center;
			}

			&-subtitle {
				left: 0;
				margin: 0 auto;
				max-width: 80%;
				text-align: center;
			}

			.readMore {
				left: 50%;
				transform: translate(-50%,0);
				top: 220px;

				&:active {
					background-color: #ff8900;
				}
			}

 			&-img {
 				left: 50%;
 				transform: translate(-50%,0);	
				top: 460px;
 			}
 		}

 		.specialFoods {
 			height: 580px;
 		}

 		.foodMenu {
			
			.menu {

				justify-content: space-around;

				&-item {
					width: 500px;
				}
			}

			.expMenu {
				&:active {
					background-color: #ff8900;
				}
			}
 		}

 		.review {

 			height: auto;
			
			.title {

				top: 80px;
			}

			&-quote {
				top: 150px;
				width: 80%;
			}

			&-img {
				top: 290px;
			}

			&-name {
				top: 370px;
			}

			&-rate {
				top: 400px;
			}

			&-active {
				transition: opacity 0.5s, transform 0.5s;
			}
 		}

 		.openingHours {

 			height: 280px;

 			.title {
 				left: 30vw;
 				top: 109px;
 				transform: translate(-50%,-50%);
 			}

 			.weekdays {
 				left: 30vw;
 				top: 100%;
 				transform: translate(-50%,-150%);
 				height: 65px;
 			}

 			.weekends {
 				left: 70vw;
 				top: 100%;
 				transform: translate(-50%,-150%);
 				height: 65px;
 				width: 178px;
 			}

 			.pepers {
 				right: 25vw;
 				top: -60px;
 				transform: translate(50%);

 				#pepers-bg {
 					height: 250px;
 				}
 			}
 		}
	}

	.footer {

		height: 710px;

 		&-nav {
 			top: 50px;
 			left: 50%;
 			transform: translate(-50%);
 			width: 80%;
 			text-align: center;

 			.title {

 				width: 100%;
 				font-size: 1.875rem;
 			}

 			a {
 				display: inline-flex;
 			}

 			*:nth-child(2) {
				margin-top: 30px;
			}

 			*:not(:first-child) {
 				margin-right: 6px;
 			}
 		}

 		&-news {
 			left: 25vw;
 			top: 179px;
 			width: 80%;
 			left: 50%;
 			transform: translate(-50%);
 			text-align: center;

 			.title {
 				max-width: 100%;
 				width: 100%;
 				font-size: 1.875rem;
 			}

 			.subtitle {
 				max-width: 100%;
 			}

 			.form {
 				left: 50%;
 				transform: translate(-50%);
 				text-align: left;

 				input {
 					width: 65%;
 				}

 				button {
 					&:active {
						background-color: #ff8900;
					}
 				}
 			}
 		}
		
		&-social {
			left: 50%;
			transform: translate(-50%);
			top: 352px;
			width: auto;

			* {
				display: inline-flex;
			}

			*:not(:last-child) {
				margin-bottom: 0px;
			}
		}

		&-apps {
			left: 50%;
			transform: translate(-50%);
			top: 440px;
			width: 470px;

			.title {

				max-width: 100%;
				text-align: center;
				font-size: 1.875rem;
			}

			.android {
				left: 100%;
				transform: translate(-100%);
				top: 59px;
			}
		}

		&-copyright {

			width: 100%;

			.line-left {
				margin-right: 2vw;
				width: 10%;
			}

			.copyright {

			}

			.line-right {
				margin-left: 2vw;
				width: 10%;
			}
		}
 	}

	article.blog {
		.article-title {
			width: calc(100% - 119px);
		}

		.articles {
			hr {
				margin-left: 0;
			}

			.prev {
				margin-left: 5vw;
			}

			.readMore {
				margin-left: 5vw;
			}

			.viewers {
				left: 35vw;
			}

			.article-social {
				left: 50vw;
			}

			.like-count {
				right: 2rem;
			}
		}
	}
}

@media screen and (max-width: 576px) {

	html {
		font-size: 10px;
	}
	
	.header {

		&-logo {
			left: 50%;
			width: 190px;
		}

		.header-btn {

			padding: 1px 3px 1px 3px;

			width: 70%;

			img {
				display: none;
			}

			div {

				span {
					left: 0;
					text-align: center;
				}

			}

			&:before {
				content: '';
				background-color: transparent;
			}
		}

		.header-cart {

			.cart-drop {
				left: 28px;
			}

		}

		.header-mobile {

			input[type=checkbox]:checked ~ label .burger-menu {
				left: 60vw;
				transition: left 1s .5s;
			}

			.menu-container {
				width: 75%;
			}
		}


		&-menu {
			min-width: 100px;
		}
	}


	.main {

		.slider {

			height: 400px;

			.slider-bg {

				img {
					min-height: 400px;
					max-height: 400px;	
					object-fit: cover;
				}
			}
			
			.dish {

				img {
					right: 4%;
					height: 40%;
					bottom: 9%;
				}

				.sideOne {

					.teast {
						width: 264px;
						left: 0;
						margin: 0 auto;
						top: -37px;
						font-size: 3rem;
					}

					.from {
						left: 0;
						margin: 0 auto;
						width: 288px;
						font-size: 2.5rem;
						top: -17px;
					
					}
					
					.expMenu {
						left: 0;
						margin: 0 auto;
						top: 101px;
						width: 145px;
						height: 44px;
						display: block;
					}
				}

				.sideTwo {

					.teast {
						width: 253px;
						left: 0;
						margin: 0 auto;
						top: -37px;
						font-size: 3rem;
					}

					.from {
						left: 0;
						margin: 0 auto;
						width: 251px;
						font-size: 2.5rem;
						top: -17px;
					
					}
					
					.expMenu {
						left: 0;
						margin: 0 auto;
						top: 101px;
						width: 145px;
						height: 44px;
						display: block;
					}
				}

				.slide-circle {
					bottom: 0;
				}

				
			}
		}

		section.callUs {

			height: 161px;
			
			.reviews {
				top: 0;
				transform: translate(-50%,50%);
				width: 95%;
				max-width: 470px;
				left: 50%;
			}

			.callUs {
				left: 5vw;
				top: 100%;
				transform: translate(-50%,-150%);
				width: 95%;
				max-width: 470px;
				left: 50%;
				

				#call-us {
					width: 100%;
					max-width: 470px;
				}
			}
		}

 		.aboutUs {

 			height: auto;

			&-title {
				top: 80px;
				left: 0;
				max-width: 100%;
				text-align: center;
			}

			&-subtitle {
				height: auto;
				position: static;
				margin: 0 auto;
				margin-top: 113px;
				max-width: 80%;
				text-align: center;
			}

			.readMore {
				margin: 0 auto;
				margin-top: 30px;
				position: static;
				display: block;
				transform: translate(0);
			}

 			&-img {
 				margin: 0 auto;
				margin-top: 30px;
				margin-bottom: 30px;
				position: static;
				display: block;
				transform: translate(0);
				max-width: 460px;
				width: 95%;
 			}
 		}

 		.specialFoods {
 			height: 940px;
 			
			.dishes-of-the-day {
				display: grid;
	 			grid-template-columns: 320px;
	 			grid-template-rows: minmax(1fr,526px) minmax(1fr,526px);
	 			grid-row-gap: 40px;
	 			justify-content: center;

	 			.first-dishes {

	 				.first-dishes-price {
	 					font-size: 2.5rem;
	 				}
	 			}

	 			.second-dishes {

	 				.second-dishes-price {
	 					font-size: 2.5rem;
	 				}
	 			}
			}
 		}

 		.foodMenu {
			
			.menu {

				justify-content: space-around;

				&-item {
					width: 500px;
					height: auto;
					position: relative;
				}

				&-img {
					position: absolute;
					left: 2vw;
					top: 50%;
					transform: translate(0,-50%);
				}

				&-title {
					position: static;
					margin-top: 10px;
					margin-left: 130px;
					font-size: 1.875rem;
				}

				&-desc {
					position: static;
					height: auto;
					margin-top: 10px;
					margin-left: 130px;
				}
		
				&-price {
					position: static;
					margin-top: 10px;
					margin-left: 130px;
					margin-bottom: 10px;
				}
			}
 		}

 		.review {

 			height: auto;

 			.review-bg {
 				position: absolute;
 				height: 100%;

 				img {
 					height: 100%;
 				}
 			}

 			.slider {
				position: static;
 				height: auto;

 				.review-item {
 					position: absolute;
 				}

 				.review-active {
					position: static;
 				}
 			}
			
			.title {
				top: 50px;
			}

			&-quote {
				position: static;
				margin: 0 auto;
				transform: translate(0);
				margin-top: 100px;
				width: 70%;
				height: auto;
			}

			&-img {
				position: static;
				display: block;
				margin: 0 auto;
				transform: translate(0);
				margin-top: 30px;
			}

			&-name {
				position: static;
				display: block;
				transform: translate(0);
				margin-top: 30px;
				max-width: 100%;
				text-align: center;
			}

			&-rate {
				position: static;
				display: block;
				margin: 0 auto;
				transform: translate(0);
				margin-top: 30px;
				margin-bottom: 50px;
			}
 		}

 		.openingHours {

 			height: 480px;

 			.title {
 				top: 209px;
 				left: 50%;
 				transform: translate(-50%,-50%);
 				font-size: 2.875rem;
 				width: 204px;
 			}

 			.weekdays {
 				left: 50%;
 				top: 370px;
 				transform: translate(-50%,-150%);
 				height: 65px;

 				.hours {
					text-align: center;
 					font-size: 24px;
 				}
 			}

 			.weekends {
 				left: 50%;
 				top: 100%;
 				transform: translate(-50%,-150%);
 				height: 65px;
 				width: 178px;

 				.hours {
					text-align: center;
 					font-size: 24px;
 				}
 			}

 			.pepers {
 				right: 41vw;
 				top: -65px;
 				transform: translate(50%);

 				#pepers-bg {
 					height: 250px;
 				}
 			}
 		}

 		.main-title {
 			h1 {
 				font-size: 3rem;
 				text-align: center;
 				height: auto;
 			}

 			div img {
 				display: none;
 			}
 		}

 		.cooks {

 			height: 1750px;
			
 			.chefs {
 				grid-template-rows: repeat(4,358px);
				grid-template-columns: repeat(1, 270px);
				grid-row-gap: 30px;
				grid-column-gap: 30px;

				.chef {
					width: 270px;

					img {
						width: 100%;
					}
				}
 			}
 		}

 		.speciality {

			position: relative;
			min-height: 465px;
			
			&-bg {
				img {
					max-width: 930px;
					width: 100%;
				}
			}

			.text {
				position: relative;
				top: -50px;
				left: 0;
			}

			h1,h2,h3 {
				font-family: 'Sintony', sans-serif;
				color: #14141d;
				font-weight: 700;
				text-align: center;
			}

			h1 {
				font-family: 'Playfair Display', Serif;
			}

			h2 {
				font-size: 15px;
			}

			h3 {
				font-size: 14px;
			    color: #5c6369;
			    font-weight: 400;
			    width: 90%;
			    margin: 0 auto;
			    margin-bottom: 35px;
			}

			hr {
				width: 90%;
				height: 1px;
				border: none;
				background-color: #e3e3e3;
				margin-bottom: 10px;
				position: absolute;
				bottom: 0;
			}
			
		}
	}

	article.blog {			
		.month, .year {
			font-size: 1.25rem;
		}
		.article-texts {
			margin-top: -7.1rem;
		}

		.article-social *{
			width: 3rem;
			height: 43px;
			box-sizing: content-box;
		}

		.article-social {
			.facebook::after, .google-plus::after, .twitter::after {
				width: 2.9rem;
				height: 2.9rem;
			}
		}
		
		.readMore, .prev {
			width: 98px;
			height: 35px;
		}

		.articles .viewers {
			left: 45vw;
		}

		.articles .article-social {
			left: 50%;
			top: -2px;
			transform: translate(-50%,100%);
		}
	}

	.footer {

		height: auto;

 		&-nav {
 			top: 50px;
 			left: 50%;
 			transform: translate(-50%);
 			width: 80%;
 			text-align: center;

 			.title {

 				width: 100%;
 				font-size: 1.875rem;
 			}

 			a {
 				display: inline-flex;
 			}

 			*:nth-child(2) {
				margin-top: 30px;
			}

 			*:not(:first-child) {
 				margin-right: 6px;
 			}
 		}

 		&-news {
 			width: 80%;
 			transform: translate(0%);
 			margin: 0 auto;
 			margin-top: 109px;
 			text-align: center;
 			height: auto;
 			position: static;

 			.title {
 				max-width: 100%;
 				width: 100%;
 				font-size: 1.875rem;
 			}

 			.subtitle {
 				max-width: 100%;
 				height: auto;
 			}

 			.form {
 				left: 50%;
 				transform: translate(-50%);
 				text-align: left;
 				display: flex;
 				flex-wrap: wrap;
 				justify-content: center;
 				height: auto;

 				input {
 					width: 65%;
 					margin-bottom: 15px;
 				}

 				button {
 					position: relative;
 					
 				}
 			}
 		}
		
		&-social {
			position: static;
			margin: 0 auto;
			margin-top: 40px;
			transform: translate(0%);
			width: auto;
			text-align: center;

			* {
				display: inline-flex;
				outline: none;
			}

			*:not(:last-child) {
				margin-bottom: 0px;
			}
		}

		&-apps {
			position: static;
			transform: translate(0%);
			margin: 0 auto;
			margin-top: 40px;
			width: 100%;

			.title {

				max-width: 100%;
				text-align: center;
				font-size: 1.875rem;
			}

			.ios {
				position: static;
				transform: translate(0%);
				margin: 0 auto;
				margin-top: 20px;
				display: block;
			}

			.android {
				position: static;
				transform: translate(0%);
				margin: 0 auto;
				margin-top: 20px;
				display: block;
			}
		}

		&-copyright {

			position: static;
			width: 100%;
			margin-top: 50px;
			transform: translate(0);

			.line-left {
				display: none;
			}

			.copyright {
				position: static;
				transform: translate(0);
				display: block;
				padding-bottom: 40px;
				width: 100%;
				font-size: 10px;
			}

			.line-right {
				display: none;
			}
		}
 	}
}